<div class="performers-grid">
  <mat-card 
    *ngFor="let performer of performers; trackBy: trackByPerformerId" 
    class="performer-card"
    [class.selected]="selectedPerformerId === performer.id"
    (click)="selectPerformer(performer.id)">
    <img 
      [src]="performer.thumbnail" 
      [alt]="performer.name"
      loading="lazy"
      (error)="onImageError($event)">
    <mat-card-content>
      <h3>{{ performer.name }}</h3>
      <p>{{ performer.videos.length }} videos</p>
    </mat-card-content>
  </mat-card>
</div>
